.btn {
  display: inline-flex;
  padding: 10px 25px;

  color: $color-alice-blue;

  background-color: $color-deep-sky-blue;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 16px;
  transition: opacity $trans-default;
  letter-spacing: 0.05em;
  border-radius: 3px;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
  @include vp-1439 {
    position: relative;
    left: 50px
  }
  @include vp-767 {
    position: static;
  }
  &__description-tablet {
    display: none;
  }
}
