.footer-container {
  display: flex;
  background: #041827;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 55px;
  justify-content: space-around;
  &__wrapper {
    width: 245px;
  }
  &__logo {
    float: left;
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    white-space: nowrap;
    color: $color-alice-blue;
    margin: 0;
    margin-left: 70px;
  }
  &__title-description {
    color: rgba(248, 253, 255, 0.7);
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-left: 15px;
  }
  &__navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-items: center;
  }

  &__navigation-wrapper {
    display: flex;
    width: 470px;
    gap: 30px;
  }

  &__navigation-title {
    font-family: $ff-default;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
  }
  &__navigation-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    font-family: $ff-pt-mono;
  }
  &__navigation-item:not(:last-child) {
    margin-bottom: 5px;
  }
  &__address-title {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
  }
  &__address-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    font-family: $ff-pt-mono;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    margin: 0;
    padding: 0;
}


}
@include vp-1023 {
  .footer-container {
    flex-wrap: wrap;
    padding: 50px;
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }
    &__social-list {
      margin: 0;
    }
    &__navigation {
      margin-top: 35px;
    }
    &__navigation-wrapper {
      display: block;
      width: 300px;
    }
    &__address {
      margin-top: 35px;
    }
  }

}
@include vp-767 {
  .footer-container {
    padding: 0;
    &__wrapper {
      flex-direction: column;
    }
    &__social {
      margin-top: 20px;
    }
    &__navigation {
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid rgba(248, 253, 255, 0.7);
      border-top: 1px solid rgba(248, 253, 255, 0.7);
    }
    &__navigation-title {
      margin: 0;
    }
    &__address {
      border-bottom: 1px solid rgba(248, 253, 255, 0.7);
      margin: 0;
      margin-bottom: 35px;
      width: 100%;
      padding: 20px;
    }
    &__address-item {
      margin-top: 15px;
    }
    &__navigation-list:first-child {
      margin-top: 15px;
    }
    &__address-title {
      margin: 0;
    }
    &__footer-list--closed {
      animation: closeAnimationMobile 1s forwards;
      overflow: scroll;
      overflow-y: hidden;
    }
    &__footer-list--opened {
      display: block;
      animation: openAnimationMobile 1s forwards;
      height: auto;
      overflow: scroll;
      overflow-y: hidden;
    }
    &__address-title-button {
      position: relative;
    }
    &__address-title-button::before,
    &__address-title-button::after {
      content: '';
      position: absolute;
      right: 6px;
      width: 15px;
      height: 1px;
      background: #C4C4C4;

    }
    &__address-title-button::before {
      top: 10px;
    }
    &__address-title-button::after {
      transform: rotate(90deg);
      top: 10px;

    }
    &__title-button--opened.footer-container__address-title-button::after {
      animation: openAnimationIcon 0.7s forwards;
    }
    &__title-button--closed.footer-container__address-title-button::after {
      animation: closeAnimationIcon 0.7s forwards;
    }
  }

  @keyframes openAnimationMobile {
    0% {
      height: 0;
    }
    100% {
      height: 250px;

    }
  }
  @keyframes closeAnimationMobile {
    0% {
      height: 250px;
    }
    100% {
      height: 0;

    }
  }


  @keyframes openAnimationIcon {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes closeAnimationIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

}
